.hero {
  background-color: #0b0524;
  color: #fff;
  display: flex;
  height: 990px;
  width: 100%;
  /* justify-content: space-evenly;*/
  align-items: center;
  margin-bottom: 120px;
}

.hero__text-content {
  margin-left: 380px;
}
/* for background-image */
.hero__wrapper {
  width: 1920px;
  height: 100%;
  background-image: url('../img/girl-student.png'), url(../img/Ellipse\ 29.svg);
  background-repeat: no-repeat;
  background-position-x: 1057px, 924px;
  background-position-y: bottom, 170px;
  margin: 0 auto;
}

.hero__title {
  font-size: 70px;
  font-weight: 600;
  line-height: 160%;
  padding-top: 250px;
}

.hero__description {
  font-size: 20px;
  margin-bottom: 50px;
}

.hero__entry-link {
  color: #fff;
  text-decoration: none;
  padding: 25px 54px;
  display: block;
  font-size: 18px;
}
/* for img */
/* .hero img:first-of-type {
    position: relative;
    left: 0;
    z-index: 1;
    top: 7%;
  }
  
  .hero img:last-of-type {
    position: relative;
    z-index: 2;
    bottom: -32px;
    left: -35%;
  } */

.hero__entry {
  width: 260px;
  background-color: #d52027;
  font-size: 18px;
  border-radius: 5px;
}
