body {
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28.8px;
  width: 1920px;
  background-color: #ffffff;
}

li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: #0b0524;
}

.main-header a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.wrapper-header {
  padding: 30px 100px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 auto;
}

.site-navigation-list {
  display: flex;
  width: 354px;
  gap: 40px;
}

.site-navigation-item a {
  font-size: 20px;
  font-weight: normal;
}

.hero {
  background-color: #0b0524;
  color: #fff;
  display: flex;
  height: 990px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 120px;
}

.hero h1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 160%;
}

.hero p {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 50px;
}

.hero a {
  color: #fff;
  text-decoration: none;
  padding: 25px 54px;
  display: block;
  font-size: 18px;
}

.entry-course {
  width: 260px;
  background-color: #d52027;
  font-size: 18px;
  border-radius: 5px;
}

.about {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.about > p {
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 160%;
}

.about-item > p:first-of-type {
  font-size: 70px;
  color: #d52027;
  line-height: 160%;
}

.about-list {
  display: flex;
  gap: 40px;
}

.about-item {
  width: 260px;
}

.course-results {
  background-color: #f9f9f9;
  margin-bottom: 120px;
}

.wrapper-course-results {
  width: 1160px;
  margin: 0 auto;
  padding: 100px 0;
}

.wrapper-course-results > h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 60px;
}

.course-results-list {
  display: flex;
  gap: 40px;
}

.course-results-item {
  width: 360px;
}

.course-results-item > h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 38.4px;
}

.trainers {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.trainers > h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 60px;
}

.trainers-list {
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
  overflow: hidden;
}

.trainers-item {
  width: 360px;
}

.trainers-item img + p {
  font-size: 24px;
  font-weight: 600;
  line-height: 38.4px;
  margin-bottom: 10px;
}

.trainers-item p:nth-of-type(2) {
  margin-bottom: 20px;
}

.trainers-item p a {
  color: #d52027;
  text-decoration: none;
}

.wrapper-arrows {
  text-align: center;
}

.wrapper-arrows img:first-child {
  margin-right: 10px;
}

.wrapper-arrows img:nth-child(2) {
  transform: rotate(180deg);
}

.select-price {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 140px;
}

.select-price h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 80px;
}

.select-price-list {
  height: 500px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.select-price-item {
  height: 460px;
  width: 360px;
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
  text-align: center;
}

.select-price-item:hover {
  background-color: #141024;
  color: #fff;
  height: 500px;
  transition: all 0.3s ease;
}

.select-price-item:hover h3 {
  margin-bottom: 80px;
  transition: all 0.3s ease;
}

.select-price-item:hover p:last-child {
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.select-price-item h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 63px;
  padding-top: 40px;
}

.select-price-item h3::before {
  content: '\2014';
  margin-right: 5px;
}

.select-price-item h3::after {
  content: '\2014';
  margin-left: 5px;
}

.select-price-item h3 + p strong {
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
}

.select-price-item h3 + p {
  margin-bottom: 20px;
}

.select-price-item p:nth-of-type(2) {
  height: 58px;
  margin-bottom: 32px;
}

.select-price-item p:last-of-type {
  width: 280px;
  background-color: #d52027;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 40px;
}

.select-price-item p a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 25px 78px;
}

.special-offer {
  background-color: #d52027;
  background-image: url('../img/percent-sign.svg');
  background-repeat: repeat-x;
  background-position: bottom;
}

.wrapper-parts-offer {
  display: flex;
  gap: 64px;
  width: 1040px;
  margin: 0 auto;
  color: #fff;
}

.left-part-offer {
  width: 476px;
  padding-top: 106px;
}

.left-part-offer h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 46.8px;
  margin-bottom: 20px;
}

.left-part-offer p {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.offer-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 500px;
  padding: 87px 0;
}

.offer-form input {
  padding: 19px 20px;
  border-radius: 5px;
}

.offer-form button {
  padding: 19px 0;
  background-color: #141024;
  border-radius: 5px;
  color: #fff;
}

.main-footer {
  background-color: #141024;
  color: #fff;
}

.wrapper-footer {
  display: flex;
  justify-content: space-between;
  width: 1720px;
  margin: 0 auto;
}

.left-part-footer {
  padding: 40px 0;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 5px;
}

.left-part-footer p:last-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

.wrapper-footer a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
}

.wrapper-footer > p {
  padding-top: 40px;
}
